<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Booker | BOOK SEATS</title>
    <link rel="stylesheet" href="../accets/css/style.css">
    <link rel="stylesheet" href="../accets/css/hangburger.css">
</head>

<body>
    <header>
        <nav class="nav" id="nav">
            <div class="container-fluid flex nav-main">
                <a class="nav-title pt-05 pl-2" href="/index.html">Movie Booker</a>
                <div class="nav-containt flex justify ">
                    <ul class="nav-items flex ">
                        <li><a href="/index.html#home" class="list link">Home</a></li>
                        <li><a href="/index.html#explore" class="list link">Explore</a></li>
                        <li><a href="/index.html#about" class="list link">About</a></li>
                        <li><a href="/index.html#contactUs" class="list link">Contact Us</a></li>
                    </ul>

                </div>
            </div>
            <div class="container-fluid hangburder-container">
                <div class="hamburger-container">
                    <button class="hamburger" onclick="toggleNav()">&#9776;</button>
                    <div class="hamburger-dropdown" id="hamburger-dropdown" name = "deactivate">
                      <ul class="hamburger-items">
                        <li><a href="/index.html#home" class="hamburger-link link">Home</a></li>
                        <li><a href="/index.html#explore" class="hamburger-link link">Explore</a></li>
                        <li><a href="/index.html#about" class="hamburger-link link">About</a></li>
                        <li><a href="/index.html#contactUs" class="hamburger-link link">Contact Us</a></li>
                      </ul>
                    </div>
                  </div>
            </div>
        </nav>
    </header>
    <main>
<article class="title">
    <div class=" center text-white ">
        <h1>BOOK YOUR SEATS</h1>
    </div>
</article>
        <article class="book-seats">
            <section class="booking-section section ">
                <div class="container-fluid center">
                    <div class="container box-style" style="margin-bottom: 23px;">
                        <div class="theatre center">
                            <div class="theatre-hall">
                                <div class="seats">
                                    <div class="columns">
                                            <div class="small-box">1</div>
                                            <div class="small-box">2</div>
                                            <div class="small-box">3</div>
                                            <div class="small-box">4</div>
                                            <div class="small-box">5</div>
                                            <div class="small-box">6</div>
                                            <div class="small-box">7</div>
                                            <div class="small-box">8</div>
                                            <div class="small-box">9</div>
                                            <div class="small-box">10</div>
                                            <div class="small-box">11</div>
                                            <div class="small-box">12</div>
                                            <div class="small-box">13</div>
                                            <div class="small-box">14</div>
                                            <div class="small-box">15</div>
                                            <div class="small-box">16</div>
                                            <div class="small-box">17</div>
                                            <div class="small-box">18</div>
                                            <div class="small-box">19</div>
                                            <div class="small-box">20</div>
                                            <div class="small-box">21</div>
                                            <div class="small-box">22</div>
                                            <div class="small-box">23</div>
                                            <div class="small-box">24</div>
                                            <div class="small-box">25</div>
                                            <div class="small-box">26</div>
                                            <div class="small-box">27</div>
                                            <div class="small-box">28</div>
                                            <div class="small-box">29</div>
                                            <div class="small-box">30</div>                                      
                                    </div>
                                <div class="row-1 row-padding">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <span class="small-box">I</span>
                                </div>
                                <div class="row-2 row-padding">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <span class="small-box">H</span>
                                </div>
                                <div class="row-3 row-padding">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <span class="small-box">G</span>
                                </div>
                                <div class="row-4 row-padding">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <span class="small-box">F</span>
                                </div>
                                <div class="row-5 row-padding">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <span class="small-box">E</span>
                                </div>
                                <div class="row-6 row-padding">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <span class="small-box">D</span>
                                </div>
                                <div class="row-7 row-padding">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <span class="small-box">C</span>
                                </div>
                                <div class="row-8 row-padding">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <span class="small-box">B</span>
                                </div>
                                <div class="row-9 row-padding">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available"  name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="available" name="" id="">
                                    <input type="checkbox" class="booked" name="" id="" disabled>
                                    <input type="checkbox" class="available" name="" id="">
                                    <span class="small-box">A</span>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="screen-container center"> 
                            <div class="screen center">
                                Screen
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid ">
                    <div class="inst center">
                        <div class="instructions">
                            <div class="inst-booked">
                                <label for="booked">Booked seats</label>
                                <input type="checkbox" name="booked" id="" disabled>
                            </div>
                            <div class="inst-available">
                                <label for="booked">Available seats</label>
                                <input type="checkbox" name="booked" id="">
                            </div>
                        </div>
                    </div>
                    <div class="book-btn center mt-1 mb-4">
                        <button class="btn btn-2">Book</button>
                    </div>
                </div>
                
            </section>
        </article>
    </main>
    <script src="../accets/js/main.js"></script>
</body>
</html>